# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# ============================================================
# macOS
# ============================================================

.DS_Store
.AppleDouble
.LSOverride

# ============================================================
# Python tools
# ============================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ============================================================
# Logs
# ============================================================

logs/
*.log

# ============================================================
# Dataset
# ============================================================

dataset/Good\ Quality_Fruits/
dataset/Bad\ Quality_Fruits/
dataset/Mixed\ Quality_Fruits/

dataset/quality_dataset/
dataset/leakage_free_dataset/

# ============================================================
# Generated results
# ============================================================

results/

# ============================================================
# Temporary files
# ============================================================

*.tmp
*.temp

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# Trained models
models/
weights/